body {
  display: flex;
  flex-flow: column;
  margin:0 auto;
  justify-content: center;
}
header{
	background: url(../img/2-layers.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.wrapper{
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}
.header__menu{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.header__logo{
width: 130px;
height: 38px;
}
nav ul{
	display: flex;
	height: 100%;	
	justify-content: center;
	align-items: center;
}
nav ul li{
	display: block;
	margin-left:25px;
} 
nav ul li a {
 display: block;
 align-self: center;
 opacity: 0.69;
 color: #ffffff;
 font-family: "Open Sans";
 font-size: 14px;
 font-weight: 400;
}
a:hover{
	color: #fff;
	opacity: 1;
}
.header__mainText{
	display: flex;
	flex-flow: column;
	align-items:center;
	margin-top: 20%;
}
h1{
 color: #ffffff;
 font-family: Lora;
 font-size: 58px;
 font-weight: 700;
}
.header__mainText h2{
	margin-top: 4%;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: 400;
}
.btn{
	margin-top:70px;
	margin-bottom: 150px;
	display: flex;
	justify-content: center;
	align-items:center;
}
.btn a{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 400;
  line-height: 23px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 36px;
  background-color: #00a5ff;
  padding: 25px 51px 27px 71px;
}

/*end of header styling*/

.our_services{
	width: 100%;
	color: #000;
}
.section_heading{
	margin-top: 40px;
	margin-bottom:43px;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}


section h2{
 padding-top: 30px;
 color: #3a3f4b;
 font-family: Lora;
 font-size: 42px;
 font-weight: 700;
 line-height: 23px;
 text-transform: uppercase;
}
.underline{
	align-self:center;
	padding-top: 35px;
	height: 1px;	
	width: 130px;
	margin-right: 10px;
	border-bottom: 3px solid #00a5ff;
}
.self_align{
	align-self:center;
}
.our_services__content{
	margin: 5% 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.our_services__content p{
width: 90%;
padding-top: 5%;
color: #999999;
font-family: "Open Sans";
font-size: 12px;
font-weight: bold;
letter-spacing: 0.9px;
text-align: center;
line-height: 1.3rem;
align-self:center;
}
.our_services__content___item{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.our_services__content___item img{
	max-width: 81px;
	max-height: 81px;
	align-self:center;
}
section h3{
	margin-top:5%;
	padding: 2% 0;
	align-self:center;
	text-transform: uppercase;
}
.our_services__content .underline{
	border-bottom: 2px solid #6a6a6a;
	width: 17%;
	padding: 2%;
}
/*end of fisrt section styling */

section.portfolio{
	background-color: #f5f6f8;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
/*  height: 1000px;*/
}

.portfolio_nav ul{
	color: #999999;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.portfolio_nav ul li {
	margin-left: 40px;
	padding-bottom: 5px;
}
.current_portfolio__classItem{
	color: #00a5ff;
	border-bottom: 1px solid #00a5ff;

}

.portfolio_items__container{
	margin-top: 50px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}
.portfolio_item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: column;
	justify-content: center;
	background-color: #f4f2f9;
	margin: 5px;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(61,60,61,0.1);
-moz-box-shadow: 0px 0px 1px 1px rgba(61,60,61,0.1);
box-shadow: 0px 0px 1px 1px rgba(61,60,61,0.1);
}
.portfolio_item img{
	width: 100%;
	max-width: 380px;
	max-height: 281px;
}

.portfolio_item p {
	padding:29px 0;
	padding-left: 36px;
 color: #999999;
 font-family: "Open Sans";
 font-size: 18px;
 font-weight: 400;
}
.btn_showmore{
	height: 63px;
	border-radius: 32px;
	margin-bottom:50px;
}
.btn.btn_showmore a{
	padding: 22px 63px;
	text-transform: uppercase;
}
.brands{
	background-color: #fff;
}
.brands__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 100px 0;
}
.brands__container img{
	align-self: center;
}
.comments{
background-color: #f5f6f8;

}
.comments__container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	flex-flow: column;
}
.comments__img_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 160px;
}
.comments__img_container img{
margin: 0 50px;
	width:109px;
	height: 109px;
	align-self:center;
}

.comments__img_container img.comments__img___active {
	width: 135px;
	height: 135px;
}

.comments__img_container img.comments__img___unactive{
	background-image: url(../img/comments/BG.png);
 opacity: 0.5;
}

.comments__container p{
	text-align: center;
	margin: 50px;
	width: 50%;
	align-self: center;
	font-family: Lora;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
}
.comments__container span{
	align-self: center;
	font-family: "Open Sans";
	font-size: 18px;
}
.comments__container span a{
	text-decoration: underline;
}
.comments__container span a:hover{
	color: grey;
}

.clickers {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
justify-content: space-between;
}

.left_click{
	display: inline-block;
	align-self:flex-start;
}
.right_click{
	display: inline;
	align-self:flex-end;
}
.comments__slider__Btn{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin: 50px 0;
}
.comments__slider__Btn img{
	margin:17px;
}
.form{
	background-color: #3b404c;
	color: #fff;
}
.footer_menu{
	margin-top:84px;
	display: flex;
	justify-content: space-between;
}
.footer__title{
	font-size: 34px;
}
.footer_menu nav ul li a{
	color: #ffffff;
	font-size: 22px;
	opacity: 1;
}
.footer_menu nav ul li a:hover{
	opacity: 0.5;
	color: #f3f3f3;
}
.form	{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top:80px;
}
.form aside {
	text-align: left;
}
.form aside h3{
	text-transform: uppercase;
	text-align: left;
	margin: 20px 0;
}

.form aside p {
	color: #999999;
}

.form form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	margin-left: 115px;
}
.form form  label{
		font-size: 24px;
}
.form form input{
	width: 360px;
	margin: 5px 0;
  padding: 10px 10px 10px 15px;
  display: block;
  border: none;
  border-radius: 0;
	font-size: 22px;
	color: #fff;
	background: transparent;
  border-bottom: 2px solid #00a5ff;

}
.form form>div{
	flex: 0 50%;
}
.form__name{
	margin-right:60px;
}
.form_subj{

}
.form__msg{

}


